/* back to top */
#back-top {
    position: fixed;
    bottom: 0;
    right: 30px;
    bottom: 20;
    width: 180px;
    text-align: right;
    clear: both;
}
#back-top a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: background-color .7s;
    -moz-transition: background-color .7s;
    -o-transition: background-color .7s;
    transition: background-color .7s;
}
#back-top a:hover {
    color: red;
}
#back-top em {
    font: normal 12px/100% "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif;
    letter-spacing: 1px;
    float: right;
}
#back-top span {
    width: 28px;
    height: 28px;
    background: url(../images/nav-icons.png) no-repeat -8px -577px;
    background-color: rgba(255,255,255,1);
    display: block;
    float: right;
    cursor: pointer;
    margin: -8px 0 0 6px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
}
#back-top a:hover span {
    background-color: #f5ec82;
}

#below_content {
    border: 12px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom : 50px solid #fff;
    box-shadow: 9px 11px 5px rgba(0, 0, 0, 0.95);
    background-color: rgba(164, 164, 164, 0.5);
}
#bottom-display{ 
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    height: 90px;
    margin: 0 auto;
    text-shadow:3px 1px 3px #000000;
    width: 220px;
    box-shadow: 9px 11px 5px rgba(0, 0, 0, 0.95);
}
#display-board{
    text-align: center;
    text-shadow:3px 1px 3px #000000;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 9px 11px 5px rgba(0, 0, 0, 0.95);
    height: 100px;
    margin: -37px auto;
    position: static;
    width: 430px;
    -webkit-transform: rotate(0deg) scale(0.89) skew(-22deg); 
    -moz-transform: rotate(0deg) scale(0.89) skew(-22deg); 
    -o-transform: rotate(0deg) scale(0.89) skew(-22deg); 
}
#board-line {
    bottom: 398px;
    height: 104px;
    left: 150px;
    position: absolute;
}
#board-line img {
    width: 210px;
    height: 280px;
}
#footer-img {
    height: 166px;
    margin: -54px;
    width: 878px;
}
#top_content {
background-color: rgba(0, 0, 0, 0.6);
border-radius: 0 2em 6em 6em;
box-shadow: 4px 13px 11px #000000;
margin-bottom: 45px;
padding:15px 0 1px 0;
}
.well h2 {
    margin-left: 10px;
}
